# General
nohup.out
.DS_Store
.vscode/

# Python-related
.ipynb_checkpoints/
__pycache__/

# Package specific
catboost_info/

# Project
input/
checkpoints/
wavelets_pytorch/
results/
requirements/
kaggle/
logs/
input/*
run.sh
.ku_ddp_tmp*
eda.ipynb
parallel_qsub.py
qsub.py
*.job*
submission.csv